<%= render 'header' %>
<div class="wrap_home">
  <div class="inform">
      <strong>임베디드공학과 사무실의 호실은?</strong>
  </div>
  <form action="/home/answer4_2" name="inputform" id="frm" method = 'post'>
      <div class= writeAnswer>
        <div class="col">
          <div class="lock">
            <div class = "bt_up">▲</div>
            <input type = "text" name ="text1" class="num" value="0" readonly></input>
            <div class = "bt_down">▼</div>
          </div>
            
          <div class="lock">
            <div class = "bt_up">▲</div>
            <input type = "text" name ="text2" class="num" value="0" readonly></input>
            <div class = "bt_down">▼</div>
          </div>
            
          <div class="lock">
            <div class = "bt_up">▲</div>
            <input type = "text" name ="text3" class="num" value="0" readonly></input>
            <div class = "bt_down">▼</div>
          </div>

        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="제출" id="chb" >
  </form>
  <div class="timer"><%=@time%></div>
  <div id="yes"><%=session[:wrong]%></div>
  
</div>