<%= render 'header' %>
<div class="wrap_home">
  <form action="/home/answer6" method="post" name="inputform">
    <div class="inform">
      <p><strong>바이러스 해제코드를 입력해주십시오</strong></p>
    </div>
      <div class= writeAnswer>
          
      <div class= "cols">
        <div class="lock">
          <input type="text" class="long" name="text1"></input>
        </div>
      </div>
      
       
      <button type="submit" class="btn btn-primary" >다음</button>
    </div>
  </form>
  <div class="timer"><%=@time%></div>
  <div id="yes"><%=session[:wrong]%></div>
</div>

<script>
  function autotab(current,to){
    if (current.getAttribute && 
      current.value.length==current.getAttribute("maxlength")) {
        to.focus() 
    }
  }
</script>
