<%= render 'header' %>

<div class="wrap_scene">
  <div class="scene3">
    <a class="btn btn-primary" href="/home/question3" role="button">다음</a>
  </div>
  <div class="timer"><%=@time%></div>
</div>