<%= render 'header' %>

<div class="wrap_scene">
  <div class="scene4_2">
    <img src=""></img>
    <p><strong></strong></p>
    <a class="btn btn-primary" href="/home/question4_2" role="button">다음</a>
  </div>
  <div class="timer"><%=@time%></div>
</div>