<%= render 'header' %>

<div class="wrap_home">
  <div class="wrap_scene">
    <div class="scene2">
      <a class="btn btn-primary" href="/home/question2" role="button">다음</a>
    </div>
  </div>
  <div class="timer"><%=@time%></div>
</div>
