<%= render 'header' %>

<div class="wrap_scene">
  <div class="scene1">
    <a class="btn btn-primary" href="/home/question1" role="button">다음</a>
    <p></p>
  </div>
  <div class="timer"><%=@time%></div>
</div>



