// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap_session {
  width: 100%;
  height: 100%;
  background-color: #384150;
  display: flex;
  justify-content: center;
}

.wrap_session form {
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrap_session #button {
  width: 80px;
}

.wrap_session p {
  color:#ffffff;
}

.form-group {
  margin-top : 20px;
}